
.attd-info-container{
    width: 45%;
    height: auto;
    margin: auto;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    /* border: 1px solid gray; */
    padding: 20px;
    overflow: hidden;
}

/* 1st pg header */
.form-header-1{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    background-color: #ccedcb;
    border-radius: 8px;
    padding: 20px;
    overflow: hidden;
    font-size:auto;
}

/* header */
.form-header{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    border-top: 8px solid  rgb(41, 137, 4);
    padding: 20px;
    overflow: hidden;
    font-size:auto;
}

.form-header .clear-form{
    cursor: pointer;
    padding: 5px 8px;
    border-radius: 5px;
}
.clear-form:hover{
    background-color:  #ccedcb;

}


/* Fields */

.field-div{
    background-color: rgb(255, 255, 255);
    padding: 30px 20px;
    border-radius: 10px;
}

.error-msg{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-top: 3px;
    font-size:small;
    color: red;

}


/* Navigation */
.nav-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-buttons .my-btn{
    padding: 5px 0px;
    min-width: 100px;
    background-color: rgb(41, 137, 4);
    color: rgb(255, 255, 255);
    border: 1px solid gray;
    border-radius: 5px;
}

.disabled-btn{
    padding: 5px 0px;
    min-width: 100px;
    background-color: rgb(168, 168, 167);
    color: rgb(255, 255, 255);
    border: 1px solid gray;
    border-radius: 5px;
    cursor:not-allowed !important;
}

/* [2] page */
.field-div-location{
    background-color: rgb(255, 255, 255);
    padding: 10px 10px;
    border-radius: 10px;
}

.field-div-date{
    background-color: rgb(255, 255, 255);
    padding: 10px 10px;
    border-radius: 10px;
}

/* Summary */
.listItem{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    padding: 10px 5px;
    border-radius: 5px  ;
    overflow: hidden;
}

.listItem-key{
    padding: 2px 5px;
    background-color: #fff;

}

.listItem-value{
    padding: 2px 5px;
    background-color: #fff;

}

.bAdd-listItem-key{
    padding: 2px 5px;
    background-color: #fff;
}
.bAdd-listItem-value{
    padding: 2px 5px;
    background-color: #fff;
}



/* MEDIA queries */

/* small */
@media screen and (max-width:576px){
    .attd-info-container{
        width: 500%;
        height: max-content;
    }
    .form-header{
        font-size: 20%;
    }
}
/* medium */
@media screen and (max-width:768px){
    .attd-info-container{
        width: 100%;
        height: max-content;
    }
}

/* large */
@media screen and (max-width:992px){
    .attd-info-container{
        width: 75%;
        height: max-content;
    }
}